* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

header {
    background-color: #4472CA;
}

main {
    background-color: #A2C7E5;    
}

article, form, .hidden-button, input {
    background-color: #8EB8E5;
}

.hidden-button > input,
.hidden-button > button {
    background-color: #A2C7E5;
}

footer, i, .ref {
    color: #d90368;
    background-color: #4472CA;
}

i:hover {
    color: #75264b;
}

a:hover {
    text-decoration: underline;
}

.logo {
    width: 200px;
    height: auto;
}

.ref-table {
    text-align: center;
    border: 1px solid white;
}

.card {
    margin: 2vw;
    width: 20rem;
}

.card-img-top {
    height: 175px;
    background-color: #351431;
}
.card-body {
    background-color: #A2C7E5;
}


.select-col {
    width: 13.5vw;
}

.fillearMain {
    display: flex;
    height: 61.5vh;
    align-items: center;
}

.detailCard{
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #A2C7E5;
    height: 70.3vh;
    width: 100%;
    color: black;
}

@media screen and (max-width: 767px) {
    .card-article {
        display: flex;
        justify-content: space-around;
        text-align: center;
    }

    .hidden-button {
        display: none;
    }

    .select-col {
        width: 45vw;
    }

    footer {
        display: flex;
        flex-direction: column;
        justify-content: center;
    }

    .checkbox-sec {
        margin-left: 2vw;
    }
}
